<div class="container">
	<div class="row">
		<h3>Genes</h3>
		<div class="aa">
 			<br>
 			<br>
 			<div id="search">
		    <%= render :partial => 'genes/search' %>
		  </div>
 			<br>
			<table class="table">
				<thead> 
					<th class="column1"> Nome
      		<th class="column2"> Variancia
      		<th class="column3"> Informações
      		<th class="column4"> Doenças Associadas
      	</thead>
				<tbody>
					<% @genes.each do |gene| %>
						<%= render gene %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
