<%# add navigation links to this file %>

  <li><%= link_to 'Genes', genes_path %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Admins', users_path %></li>
<% end %>
